<style>
    .layui-btn-small {
        padding: 0 15px;
    }
    
    .layui-form-checkbox {
        margin: 0;
    }
    
    tr td:not(:nth-child(0)),
    tr th:not(:nth-child(0)) {
        text-align: center;
    }
    
    #dataConsole {
        text-align: center;
    }
    /*分页页容量样式*/
    /*可选*/
    
    .layui-laypage {
        display: block;
    }
    /*可选*/
    
    .layui-laypage>* {
        float: left;
    }
    /*可选*/
    
    .layui-laypage .laypage-extend-pagesize {
        float: right;
    }
    /*可选*/
    
    .layui-laypage:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    /*必须*/
    
    .layui-laypage .laypage-extend-pagesize {
        height: 30px;
        line-height: 30px;
        margin: 0px;
        border: none;
        font-weight: 400;
    }
    /*分页页容量样式END*/
</style>
<fieldset id="link" class="layui-elem-field layui-field-title sys-list-field" style="display:none;">
    <legend style="text-align:center;">友情链接列表</legend>
    <div class="layui-field-box">
        <div id="linkContent" class="">
            <!--内容区域 ajax获取-->
            <table style="" class="layui-table" lay-even="">
                <colgroup>
                    <col width="180">
                    <col>
                    <col width="150">
                    <col width="180">
                    <col width="90">
                    <col width="90">
                    <col width="50">
                    <col width="50">
                </colgroup>
                <thead>
                    <tr>
                        <th>发表时间</th>
                        <th>标题</th>
                        <th>作者</th>
                        <th>类别</th>
                        <th>选项</th>
                        <th colspan="2">操作
                            <div class="layui-input-inline" style="width:auto">
                                <a id="addArticle" class="layui-btn layui-btn-normal">新增友情链接</a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2017-03-22 23:07</td>
                        <td>不落阁后台模板源码分享</td>
                        <td>Absolutely</td>
                        <td>Web前端</td>
                        <td>
                            <form class="layui-form" action="">
                                <div class="layui-form-item" style="margin:0;">
                                    <input type="checkbox" name="top" title="置顶" lay-filter="top" checked>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form class="layui-form" action="">
                                <div class="layui-form-item" style="margin:0;">
                                    <input type="checkbox" name="top" title="推荐" lay-filter="recommend" checked>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="layui-btn layui-btn-small layui-btn-normal"><i class="layui-icon">&#xe642;</i></button>
                        </td>
                        <td>
                            <button class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#xe640;</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="linkPage"></div>
        </div>
    </div>
</fieldset>
<!-- layui规范化用法 
<script type="text/javascript" src="/admin/js/link.js"></script> -->

<!-- layui规范化用法 -->
<script type="text/javascript">
    layui.config({
        base: '/admin/js/'
    }).use('link');
</script>