<!-- 底部 -->
<footer class="blog-footer">
    <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="http://blog.jczxw.cn">小李Blog</a><span>By QQ764692390</span></p>
    <p><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备14037484号-1</a></p>
</footer>
<!-- 底部 -->